<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="All">
    <suite-files>
        <suite-file path="suites/controller.xml" />
        <suite-file path="suites/dao.xml" />
        <suite-file path="suites/service.xml" />
        <suite-file path="suites/endpoint.xml" />
        <!-- <suite-file path="suites/e2e.xml" /> -->
    </suite-files>
</suite>
