body {
    background-color:#fff;
    color: #010101;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
    height: 100vh;
}
body#index {
    background-image: url(../images/TessiPizza.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
p a {
    font-size: .8em;
    color: #010101;
    text-decoration: none;
}
h1 {
    font-size: 36px;
}

span {
    font-size: 2em;
    opacity: 0;
    transition: all 0.5s ease;
}

@media screen and (max-width: 768px) {
    body#index {
        background-position: top;
    }
}

